---
import Layout from "@layouts/Layout.astro";
import NoteModal from "@components/notas/NoteModal";
import FolderTree from "@components/notas/FolderTree";
---

<Layout>
  <h1>Mis Notas</h1>
  <FolderTree client:visible />
</Layout>
