:root {
  --bg: #f6f6f2;
  --color-primary: #fbf0da;
  --color-secondary: #88b04b;
  --color-accent: #fbcc8d;
  --color-neutral: #e4e5e2;
  --color-box: #ebdab7;
  --header: #37393e;
  --text: #646e71;
  --color-highlight: #f66874;
  --sidebar-width: 300px;
  --sidebar-collapsed-width: 50px;
  --toggle-button-offset: 310px; /* Botón con sidebar abierta */
  --toggle-button-offset-collapsed: 60px; /* Botón con sidebar colapsada */
  --transition-speed: 0.2s;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilo general */
body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* Aplica Roboto a todo el texto */
  background: var(--bg);
  color: var(--text);
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  width: 100%;
  height: 100vh;
  transition: grid-template-columns var(--transition-speed) ease;
}

/* Estado de la sidebar colapsada */
.parent.collapsed {
  grid-template-columns: var(--sidebar-collapsed-width) 1fr;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-secondary);
  color: var(--text);
  transition: width var(--transition-speed) ease;
  overflow: hidden;
}

.header {
  grid-area: header;
  padding: 10px;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 3px solid #000;
}

.main {
  grid-area: main;
  padding: 20px;
  color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: margin-left var(--transition-speed) ease;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Estilos para el botón de toggle */
.toggle-button {
  position: absolute;
  left: var(--toggle-button-offset);
  bottom: 20px;
  background: none;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.9); /* Sombra definida */
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  transition: left var(--transition-speed) ease;
}

/* Ajuste de posición del botón cuando la sidebar está colapsada */
.parent.collapsed .toggle-button {
  left: var(--toggle-button-offset-collapsed);
}

/* Flecha dentro del botón */
.arrow {
  display: inline-block;
  color: var(--header);
  transition: transform 0.2s;
  font-size: 1.5rem;
  transform: rotate(180deg);
}

/* Rotar la flecha cuando está colapsada */
.parent.collapsed .arrow {
  transform: rotate(0deg);
}

/* Responsividad */
@media (max-width: 768px) {
  .parent {
    grid-template-columns: var(--sidebar-collapsed-width) 1fr;
  }

  .parent.collapsed {
    grid-template-columns: 0px 1fr;
  }

  .toggle-button {
    left: var(--toggle-button-offset-collapsed);
  }
}
