/* FolderTree.css */
.titulo {
  font-size: 2rem;
  color: var(--header);
  text-decoration: underline;
}

.global {
  width: 95%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral);
  padding: 10px 30px 30px 20px;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.9); /* Sombra definida */
}

.folder-tree {
  list-style: none;
  background-color: var(--color-primary);
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.9); /* Sombra definida */
}

.folder-node {
  margin-left: 1rem;
  padding: 5px 0;
  transition: background-color 0.3s ease;
}

.folder-icon.expanded {
  transform: rotate(90deg); /* Rotar 90 grados cuando está expandido */
}

.folder-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  color: var(--header);
}

.folder-icon {
  margin-right: 8px;
  font-size: 18px; /* Iconos más grandes */
  color: var(--header); /* Color similar al de Apple */
}

.folder-name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.folder-subtree {
  list-style: none;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  border-left: 2px dashed transparent;
  border-image: repeating-linear-gradient(
      to bottom,
      #000,
      #000 10px,
      transparent 10px,
      transparent 20px
    )
    1;
  padding: 0px 10px;
}

.folder-subtree.expanded {
  max-height: 500px; /* Asegúrate de que sea suficiente para cualquier contenido */
  opacity: 1;
}

.folder-subtree.collapsed {
  max-height: 0;
  opacity: 0;
}

/* Agregar un toque de interacción con las subcarpetas */
.folder-node .folder-header:focus {
  outline: none;
  background-color: #d1d1d6;
}
