/* NoteModal.css */

/* Vista inicial de la nota */
.note-summary {
  cursor: pointer;
  padding: 15px 20px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: var(--color-accent);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.9); /* Sombra definida */
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--header);
}

/* Overlay de la modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Contenedor de la modal */
.modal-content {
  position: relative;
  background: var(--color-primary);
  border: 3px solid #000;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.9); /* Sombra definida */
  border-radius: 10px;
  width: 85%;
  height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.4s ease;
}

/* Animación de entrada */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Botón de cerrar */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: var(--header);
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--color-highlight);
}

/* Encabezado de la modal */
.modal-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--header);
  margin: 30px 20px 10px;
  text-align: center;
}

.modal-content p {
  font-size: 1rem;
  font-style: normal;
  margin: 0 20px 25px;
}
