---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card/CardHome.astro";
---

<Layout>
  <div class="card-grid">
    <Card
      title="Notas"
      description="Organiza tus ideas y documentos."
      link="/notas"
      svgBackground="/editar.svg"
    />
    <Card
      title="Calendario"
      description="Planifica tus eventos y tareas."
      link="/calendario"
      svgBackground="/calendario.svg"
    />
    <Card
      title="Recordatorios"
      description="Configura recordatorios personalizados."
      link="/recordatorios"
      svgBackground="/capas.svg"
    />
  </div>
</Layout>

<style>
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    justify-content: center;
    width: 100%;
  }
</style>
