<header>
  <a href="/" class="logo">
    <h1>
      <span class="half-color">None</span><span>Notes</span>
    </h1>
  </a>
  <a class="github" href="https://github.com/Nonetss">GitHub</a>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    padding: 0px 20px;
    width: 100%;
  }

  .github {
    text-decoration: none;
    color: #000;
  }

  .logo {
    text-decoration: none; /* Elimina el subrayado en el estado normal */
    display: flex;
    align-items: center;
    color: inherit; /* Asegura que el color se herede correctamente */
  }

  /* Elimina el subrayado en todos los estados del enlace */
  .logo:link,
  .logo:visited,
  .logo:hover,
  .logo:active {
    text-decoration: none;
  }

  .logo h1 {
    font-family: var(--header);
    font-size: 2em;
    font-weight: 900;
    margin: 0;
    transition:
      color var(--transition-speed) ease,
      transform var(--transition-speed) ease;
    color: var(--header);
  }

  /* Estilos específicos para cada mitad */
  .half-color {
    color: var(--header);
  }

  .logo span:nth-child(2) {
    color: #f6b567;
  }
</style>
