---
export interface SidebarProps {
  links: { name: string; href: string; icon?: string }[];
}
const { links } = Astro.props;
---

<aside class="sidebar">
  <nav class="nav">
    <ul>
      {
        links.map((link) => (
          <li>
            <a href={link.href}>
              {link.icon && <span class="icon">{link.icon}</span>}
              <span class="text">{link.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<style>
  /* Sidebar container */
  .sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    background: #5a7085;
    color: var(--pantone-text);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  /* Navigation */
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav li {
    margin-bottom: 20px;
  }

  .nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--pantone-text);
    padding: 10px 10px;
    border-radius: 8px;
    transition:
      background 0.3s ease,
      transform 0.2s ease;
  }

  .nav a:hover {
    background: var(--pantone-primary);
    color: var(--pantone-bg);
  }

  .icon {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .text {
    font-size: 1.2rem;
  }
</style>
